* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-weight: bolder;
    text-align: center;
    text-emphasis-color: red;
}

.list {
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
    font-style: italic;
    background-color: white;
    color: black;
    align-items: center;
}

.main-list {
    font: small-caps;
    text-decoration: wavy;
}

.button:visited {
    color: white;
    background-color: black;
}

#image {
    border: 4px;
    border-color: black;
    align-items: center;
}