* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-weight: bolder;
    text-align: center;
    text-emphasis-color: red;
}

.list {
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}